
<div class="left_frame">
<form action="" method="post"><label for="name">Full Name. </label>
   <input type="name"><br>
   <br><label for="tel" max='10' >Contact No.</label>
   <input type="tel"><br>
   <br><label for="email">Email Add.</label>
   <input type="email" name="" id=""><br>
   <br><label for="file">Resume</label>
   <input type="file" name="" id=""><br><br>
   <button type="submit">Submit</button><button type="reset" style="margin-left: 10px;">Reset</button>
</form></div>
<h1 style="text-align: center;" >Jobs</h1>
<hr style="width: 40%;height: 3px;background-color: orange;border: none;"><br>
<div style="display: inline-block;"><div class="left_frame" >
   <img src="./assets/Untitled_design__24_-removebg-preview.png" alt="logo">
   <br><br>
   <span class="position" >Software Developer</span>
   <br><br>
   <span class="firmname">TCS</span>
    <br>
    <br>
    <span class="location">gurugram</span>
    <button class="apply">Apply</button>
 </div>
 <div class="left_frame" >
   <img src="./assets/Untitled_design__24_-removebg-preview.png" alt="logo">
   <br><br>
   <span class="position" >Software Developer</span>
   <br><br>
   <span class="firmname">TCS</span>
    <br>
    <br>
    <span class="location">gurugram</span>
    <button class="apply">Apply</button>
 </div>
 <div class="left_frame" >
   <img src="./assets/Untitled_design__24_-removebg-preview.png" alt="logo">
   <br><br>
   <span class="position" >Software Developer</span>
   <br><br>
   <span class="firmname">TCS</span>
    <br>
    <br>
    <span class="location">gurugram</span>
    <button class="apply">Apply</button>
 </div></div>
