<div class="slideshow">
    &nbsp;
</div>
<h2>Services</h2>
<hr>
<div class="ServiceCard">
    <div class="TextRight">
        FIND TALENT
        </div>
</div>
<div class="ServiceCard1" style="margin-left: 56%;margin-top: -350px;">
    <div class="TextRight" style="color: white;">
        TALENTED?
      
    </div>
</div>
<div class="flex-container">
    <div>Query-Mail: <br> 
    naukrims@naukri.com
    </div>
    <div>HQ : <br>
    Noida, UP, IND
    </div>
    <div style="border: none;">Mobile Connect: <br>
    +91-8882080202
    </div>
</div>
